
<nav>
  <a [routerLink]="['/creategame']"><i class="fa fa-user"></i></a>
  <a href="#second"><i class="fa fa-briefcase"></i></a>
  <a href="#third"><i class="fa fa-file"></i></a>
  <a href="#fourth"><i class="fa fa-address-card"></i></a>
</nav>
 
<div class= 'container'> 
 <section id= 'first'>
   <h1>First</h1>
 </section>
 
 <section id= 'second'>
   <h1>Second</h1>
 </section>
 
<section id= 'third'>
  <h1>Third</h1>
 </section>
 
<section id= 'fourth'>
  <h1>Fourth</h1>
 </section>
 <router-outlet></router-outlet>

</div>

